@import url('./fonts/sans/geist.css');
@import url('./fonts/mono/geist_mono.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #C7C1B7;
  color: #323232;
  font-family: 'GeistMono';
  scroll-behavior: smooth;
}

.clip-container {
  clip: rect(auto, auto, auto, auto);
}